{% extends '_base.html' %}
{% block content %}
<h1>Welcome to {{ user.email }}'s {{ trip.name }} itinerary!</h1>


{% if events %}
  <div class="container">
    <h3>Events on this itinerary</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>

          <th>Start date</th>
          <th>End date</th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
        <tr>
          <td>
            {{ event.name }}
          </td>
          <td>{{ event.start_time }}</td>
          <td>{{ event.end_time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if is_current_user %}
  <a href= {{url_for("user.new_event", itinerary=itinerary.id)}} class="btn btn-success">
    Create New Event
  </a>
  {% endif %}

  {% else %}

  {% if is_current_user %}
  <h4>You have no events! Create a new event below.</h4>
  <a href= {{url_for("user.new_event", itinerary=itinerary.id)}} class="btn btn-success">
    Create New Event
  </a>

  {% else %}
  <h4>No events found</h4>
  {% endif %}
  {% endif %}




{% endblock %}
