{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <h1>Welcome to your trip: {{ trip.name }} </h1>


  <div class="container">
    <h3>Trip Itineraries:</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <a href={{ url_for("user.itinerary", trip_id=trip.id, user_id=current_user.id)}}>
              Your itinerary
            </a>
          </td>
        </tr>
        {% for user in users %}
        <tr>
          <td>
            <a href= {{url_for("user.itinerary", trip_id=trip.id, user_id=user.id)}}>
            {{ user.email }}'s Itinerary
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


  <form class="form" role="form" method="post" action="">

    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="col-lg-4 col-sm-4">

      {{ wtf.form_field(form.user) }}

      <button class="btn btn-success" type="submit">Invite User</button>
      <br><br>

    </div>

  </form>


  <!-- not working yet
  <h3> Add more friends</h3>
  <div class="container">
    <div class="row">
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
    </div>
  </div>
  <a class="btn btn-success">Send Invite(s)</a>
-->


{% endblock %}
